<!DOCTYPE html>
<html>
  <head>
    <title>Login sucess</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login sucess</h1>
    <p>Hi <%= user %></p>
  </body>
</html>
